<div class="container-fluid">
    <div class="row d-flex align-items-center" style="min-height:650px;">
        <div class="col">
            <h1 class="fw-bold">Spring 2024 Devotionals<br />Now Available!</h1>
            <h2>The Word For You Today</h2>
            <button type="button" class="btn btn-secondary">Order Now</button>
        </div>
        <div class="col">
            <img class="img-fluid" src="{{ asset('images/magazine-cover.jpg') }}" alt="daily devotional" />
        </div>
    </div>
</div>