<div class="container-fluid">
    <div style="background-image:url({{ asset('images/bnb.jpg') }}); background-position:center; background-size:200%; min-height:800px;">
        <div class="row d-flex align-items-center" style="min-height:650px;">
            <div class="col text-center">
                <h1 id="content-h1">
                    Brunch & Books
                </h1>
                <img style="height:650px;" src="{{ asset('images/bnb.jpg') }}"  alt="brunch and books"/>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div style="width:650px; margin:auto; padding:50px 0;">
            <h5 style="font-weight:normal;">Brunch and Books will host an in-person and virtual literary event on June 8th. Find out more at <a href="https://overcomingbyfaith.org">overcomingbyfaith.org</a></h5>
            <a href="#">purchase now</a>
        </div>
    </div>
</div>