body {
    font-size: 14px;
}

#header_div {
    height: 115px;
}

#header_div a {
    color: black;
}

#footer_div {
    height: 300px;
    background-color: #1d2930;
}

#footer_div, #footer_div a, #content-h1 {
    color: white;
}

.buttonLinks {
    float: right;
}