body {
    font-size: 14px;
}

#header_div, #header_div img {
    height: 115px;
}

#header_div a {
    color: black;
}

#footer_div {
    height: 300px;
    background-color: #1d2930;
}

#footer_div, #footer_div a, #content-h1 {
    color: white;
}

header, footer {
    width: 60%;
}

#headerLinks, #footerLinks {
    display: inline-block;
}

.buttonLinks {
    float: right;
}